<template>
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary font-weight-bold">
                Create new Article
            </h2>            
        </div>
        <div class="card-body">
            <form @submit.prevent="submit">
                <div class="row mb-3">
                    <div class="col">
                        <input id="title" name="title" type="text" v-model="form.title"
                        class="form-control" placeholder="Add title">
                        <div class="text-danger" v-if="errors.title">{{ errors.title }}</div>
                    </div>
                </div>            
                <div class="row mb-3">
                    <div class="col">
                        <textarea id="text" name="text" cols="30" rows="10" v-model="form.text" 
                        class="form-control" placeholder="Type your content here"></textarea>
                        <div class="text-danger" v-if="errors.text">{{ errors.text }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>                    
                </div>            
        </form>        
        </div>        
    </div>
</template>
<script>
import Layout from '@/Shared/Layout'
export default {  
  props: {
    articles: Array,
    errors: Object,
  },  
  layout:Layout,
  data(){
      return{
          form:{
              title:null,
              text:null,
          }
      }
  },
  methods:{
      submit(){
          this.$inertia.post(this.$route('article.store'),this.form)
      }
  }
};

</script>