<template>
  <div class="card">
    <div class="card-header">
      <h2 class="text-primary font-weight-bold">Edit Article</h2>
    </div>
    <div class="card-body">
      <form @submit.prevent="update">
        <div class="row mb-3">
          <div class="col">
            <input
              name="title"
              id="title"
              type="text"
              v-model="form.title"
              class="form-control"
              placeholder="Add title"
            />
            <div class="text-danger" v-if="errors.title">
              {{ errors.title }}
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <textarea
              name="text"
              id="text"
              cols="30"
              rows="10"
              v-model="form.text"
              class="form-control"
              placeholder="Type your content here"
            ></textarea>
            <div class="text-danger" v-if="errors.text">{{ errors.text }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="update" class="btn btn-success">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Layout from "@/Shared/Layout";
export default {
  props: {
    article: Object,
    errors: Object,
  },
  layout: Layout,
  data() {
    return {
      form: {
        id: this.article.id,
        title: this.article.title,
        text: this.article.text,
      },
    };
  },
  methods: {
    update() {
      this.$inertia.put(this.$route('article.update'),this.form)
    },
  },
};
</script>