<template>
  <div>
    <div class="card shadow">
      <div class="row m-3">
          <div class="col">
              <h3>All Article</h3>
          </div>
        <div class="col">
            <inertia-link class="btn btn-success float-right" :href="$route('article.create')">Create New Article</inertia-link>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Text</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="article in articles" :key="article.id">
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.title }}</td>
                <td>{{ article.text }}</td>
                <td>
                  <inertia-link
                    class="btn btn-primary mr-3"
                    :href="$route('article.edit', article.id)"
                  >
                    Edit
                  </inertia-link>
                  <button class="btn btn-danger" @click="destroy(article.id)">
                    Destroy Article
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Layout from "@/Shared/Layout";
export default {
  props: {
    articles: Array,
  },
  
  layout: Layout,
  methods:{
    destroy(id){      
      if(confirm("are you sure?")){
        this.$inertia.delete(this.$route('article.destroy',id))      
      }          
    }
  }
};
</script>